# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Laravel
apps/api/vendor/
apps/api/storage/*.key
apps/api/storage/framework/
apps/api/storage/logs/
apps/api/.env
apps/api/database/*.sqlite
apps/api/bootstrap/cache/

# Node
apps/web/node_modules/
apps/web/dist/

# Logs
*.log

# PHPUnit cache
apps/api/.phpunit.result.cache